.temp {
	border : 1px solid black;
}
.container {
	width : 1024px;
	height : 80px;
	margin : 0 auto;

	#bbb {
		margin-left : 400px;
	}
	#callus {
		padding-left : 20px;
	}

	.navbar {
		background-color : #37713b;
		height : 50px;
		margin-top : 20px;
	}
	.nav-list {
		padding-top : 15px;
		text-align : center;
		li  {
			list-style : none;
			display : inline;
			color : white;
			padding : 0 35px;
		}
	}

	.body {
		text-align : center;

		h1 {
			color : #4b4b4b;
			margin-bottom : 0;
			font-size : 40px;
		}
		#p1 {
			color : #4b4b4b;
			margin-top : 5px;
		}
		#p2 {
			color : #37713b;
			font-size : 20px;
			letter-spacing : 5px;
		}
		#video {
			width : 500px;
			height : 300px;
			background-color : #4b4b4b;
			margin : 0 auto;
		}
		#facebook {
			margin-top : 30px;
		}
	}
}
