body {
    margin: 0;
}
.container {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    .header {
        margin-top: 20px;
    }
    #bbb {
        margin-left: 400px;
    }
    #callus {
        padding-left: 20px;
    }
    .navbar {
        background-color: #37713b;
        height: 50px;
        margin-top: 20px;
    }
    .nav-list {
        padding-top: 15px;
        text-align: center;
        li {
            list-style: none;
            display: inline;
            color: white;
            padding: 0 35px;
        }
    }
    .body {
        text-align: center;
        h1 {
            color: #4b4b4b;
            margin-bottom: 0;
            font-size: 40px;
        }
        #p1 {
            color: #4b4b4b;
            margin-top: 5px;
        }
        #p2 {
            color: #37713b;
            font-size: 20px;
            letter-spacing: 5px;
        }
        #video {
            width: 500px;
            height: 300px;
            background-color: #4b4b4b;
            margin: 0 auto;
        }
        #facebook {
            margin-top: 30px;
        }
        .text1 {
            text-align: left;
            #text1-left {
                h5 {
                    color: black;
                }
                width: 482px;
                float: left;
                padding-left: 30px;
                color: #6c7879;
            }
            #text2-right {
                width: 482px;
                float: right;
                ul {
                    li {
                        padding-bottom: 6px;
                        color: #6c7879;
                    }
                }
            }
        }
        #table {
            width: 980px;
            margin-top: 39px;
            text-align: left;
            margin-bottom: 41px;
        }
        table {
            border-spacing: 0;
        }
        #table th {
            background-color: #7f8c8d;
            color: white;
            text-align: center;
            letter-spacing: 7px;
            font-family: Open Sans Semibold;
            font-size: 22px;
            height: 67px;
            border-left: 3px solid white;
        }
        #table td {
            font-size: 14px;
            text-align: center;
            background-color: #f7f7f7;
            color: #999999;
            border: 1px solid #e9e9e9;
            border-left: 1px solid white;
            height: 41px;
            font-family: Open Sans;
            font-size: 14px;
            white-space: nowrap;
        }
        table #blue {
            background-color: #2980b9;
            width: 30px;
        }
        table #red {
            background-color: #c0392b;
            width: 30px;
        }
        #blue_pos {
            position: absolute;
            top: 1135px;
        }
        #red_pos {
            position: absolute;
            top: 1327px;
        }
        #seperator {
            border-bottom: 3px solid white;
        }
        .rotate {
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            letter-spacing: 3px;
            padding: 0;
            color: white;
            text-align: center;
            width: 30px;
        }
    }
}
.text2 {
    clear: both;
    background-color: #eaedf2;
    height: 400px;
    width: 100%;
    text-align: center;
    .heating-heading {
        color: #b02621;
        letter-spacing: 6px;
        font-family: 'Open Sans';
        font-weight: 400;
        padding: 20px 0;
    }
    .heating-text {
        color: #6c7879;
    }
    .heating-images {
        img {
            margin: 0 20px;
        }
    }
}
.text3 {
    clear: both;
    height: 400px;
    width: 100%;
    text-align: center;
    .cooling-heading {
        color: #4285d7;
        letter-spacing: 6px;
        font-family: 'Open Sans';
        font-weight: 400;
        padding: 20px 0;
    }
    .cooling-text {
        color: #6c7879;
    }
    .cooling-images {
        img {
            margin: 0 20px;
        }
    }
}
.text4 {
    clear: both;
    background-color: #eaedf2;
    height: 890px;
    width: 100%;
    text-align: center;
    .about-heading {
        color: black;
        letter-spacing: 6px;
        font-family: 'Open Sans';
        font-weight: 400;
        padding: 20px 0;
    }
    .about-text {
        color: #6c7879;
    }
    .about-images {
        img {
            margin: 0 20px;
        }
    }
}
